# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*

# JetBrains Rider
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# User-specific files
*.rsuser
*.userprefs